<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>cdu0WLFF6BVfgKUBVRQw7K6eIo8q9YOD</string>
    <key>Domain</key>
    <string>dev-oxiw8y8jzhq1qfel.us.auth0.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.drakedong.Bluetrinket</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
